---
// Component Imports
import BaseHead from '../components/base/BaseHead.astro'
import LogoLine from '../components/base/LogoLine.astro'
import Body from '../components/base/Body.astro'
import Main from '../components/Main'
import TabBar from '../components/TabBar'
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
	<head>
		<BaseHead description='cv' title='resume'></BaseHead>
	</head>
	<Body>
		<LogoLine></LogoLine>
		<main>
			<TabBar></TabBar>
			<Main client:only="react"></Main>
		</main>
	</Body>
</html>
