<body class="dark:bg-dark_playground dark:text-dark_color bg-light_playground text-light_color breck-words leading-6 transition-colors duration-500">
  <slot></slot>
</body>

<style is:inline>
::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
</style>
