.line-high::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -50px;
  top: 45px;
  width: 100px;
  height: 1px;
  background: white;
  transform: rotate(-135deg);
  animation: waveMove 1s 3;
  box-shadow: 30px -1px 3px yellow; /* 添加阴影效果 */
}
@keyframes waveMove {
  from {
    left: -50px;
    top: 45px;
  }
  to   { 
    left: 70px;
    top: 25px;
  }
}
